.categories-container {
    margin-left: 150px;
    margin-right: 150px;
    color: #fff;
    margin-bottom: 200px;
}

.section-title {
    font-size: 1.4rem;
    margin-bottom: 2px;
}

.section-separator {
    margin-bottom: 20px;
}

.categories-slider {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.category-container {
    border-radius: 20px;
    position: relative;
    display: inline-block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    width: 400px;
    background-color: #C5C6C7;
    overflow: hidden;
    cursor: pointer;
}

.category-label {
    color: #000;
    font-weight: bold;
    font-size: 1.5rem;
}

.category-label-container {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    background-color: #45A29E;
    min-width: 70px;
    border-radius: 3px;
    z-index: 101;
}

.category-img {
    display: block;
    width: 120%;
    max-width: 100%;
    transition: all ease-in-out 0.3s;
}

.category-container:hover .category-img{
    scale: 1.05;
}