.sign-up-div-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #1F2833;
    padding-top: 75px;
    padding-bottom: 75px;
    border-top: 0.1px solid #fff;
}

.sign-up-div-p {
    margin: 0;
    font-size: 2.1rem;
    margin-bottom: 10px;
}

.sign-up-btn {
    margin-top: 50px;
    width: 150px;
    height: 45px;
    border-radius: 10px;
    font-size: 1.4rem;
    background-color: #66FCF1;
    border: 0;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.sign-up-btn:hover {
    background-color: #45A29E;
    color: #fff;
}