.modal {
    font-size: 12px;
    background-color: #47ada6;
    border-color: #47ada6;
    popup-overlay: transparent;
}
.modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    }
.modal > .content {
    font-size: 1rem;;
    width: 100%;
    padding: 10px 5px;
}

.modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #47ada6;
    border-radius: 18px;
    border: 1px solid #66FCF1;
}