.product-page-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.path-container {
    width: 100%;
    margin-top: 30px;
    align-self: flex-start;
}

.product-data-container {
    display: flex;
    width: 78%;
    color: #fff;

}

.product-images-slider {
    margin-top: 5%;
    margin-left: 5%;
}

.colors-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.product-info-container {
    margin-top: 50px;
    margin-left: 40px;
}

.pp-product-name {
    font-size: 2.5rem;
    font-family: 'Noto Sans', sans-serif;
}

.reviews-container {
    display: flex;
    align-items: center;
}

.stars-container {
    margin-right: 15px;
}

.fa-star {
    margin-right: 1px;
    margin-left: 1px;
    color: #e6f200;
}


.colors-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}


.colors-container {
    display: flex;
    justify-content: flex-start;
}

.color-options {
    justify-content: flex-start;
    display: flex;

}

.color-fill {
    width: 45px;
    height: 45px;
}

.color-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    background-color: #fff;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.selected-color {
    font-size: 1.4rem;
}

.sizes-outer-container {
    margin-top: 20px;
}

.sizes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #fff;
}

.size-label {
    font-size: 1.4rem;
}

.parsed-sizes-container {
    display: flex;
}

.size-container {
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    min-width: 30px;
    padding: 10px;
    width: fit-content;
    min-height: 34px;
    height: fit-content;
    border: 1px solid #C5C6C7;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    margin-right: 20px;
    color: #C5C6C7;
}

.counter {
    display: flex;
}

.minus-container,
.quantity-container,
.plus-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 10px;
    border: 1px solid #C5C6C7;
    min-width: 30px;
    width: fit-content;
    min-height: 34px;
    height: fit-content;
    margin-right: 20px;
    border-radius: 2px;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all ease-in-out 0.1s;
}

.decrement-btn, 
.increment-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.fa-minus,
.fa-plus {
    color: #C5C6C7;
    font-size: 1.4rem;
}

.minus-container:active,
.plus-container:active {
    background-color: #2f3c4d;
}

.price-container {
    display: flex;
    align-items: center;
    font-size: 2rem;
    margin-top: 80px;
}

.purchaseContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
}

.purchase-btn {
    width: 200px;
    margin-right: 20px;
    font-size: 1.5rem;
    height: 50px;
    border: 0;
    background-color: #1F2833;
    color: #66FCF1;
    cursor: pointer;
    transition: scale ease-in-out 0.2s;
}

.purchase-btn:hover {
    scale: 1.06;
}

.purchase-btn:active {
    transition: background-color ease-in-out 0.1s;
    background-color: #C5C6C790;
}

.product-description-container {
    display: flex;
    margin-top: 100px;
}

.description-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 55%;
    color: #fff;
}

.description-label {
    font-size: 1.7rem;
    font-weight: 600;
}

.description-text {
    font-size: 1.4rem;
    max-width: 90%;
}

.units-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.slash-size {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.4rem;
}

.unit-label {
    font-size: 1.4rem;
    cursor: pointer;
}

.sizes_table-container {
    width: 40%;
}

.size-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .size-table th,
  .size-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #66FCF1; /* White borders to make them stand out */
    color: #fff; /* White text color */
    font-size: 1.3rem;
  }
  
  .size-table th {
    background-color: #0B0C10; /* Dark gray background color for table headers */
  }
  
  .size-table tbody tr:nth-child(even) {
    background-color: #0B0C10; /* Slightly lighter gray background for even rows */
  }
  
  .size-table tbody tr:nth-child(odd) {

    background-color: #1F2833; /* Slightly darker gray background for odd rows */
  }
  
  .size-table tbody tr:hover {
    background-color: #666; /* Darker gray background for hover effect */
  }

/* #0B0C10 */
/* #1F2833 */
/* #C5C6C7 */
/* #66FCF1 */
/* #45A29E */