.products-categories-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}


/* #0B0C10 */
/* #1F2833 */
/* #C5C6C7 */
/* #66FCF1 */
/* #45A29E */